html, body
  height: 100%
  overflow: hidden

//为什么这样就可以清除浮动？
.clear-fix
	display inline-block
	&.after
		display block
		content ''
		height 0
		line-height 0
		clear both
		visibility hidden